*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  scroll-behavior: smooth;
}
.textwhite{
  color: #fff !important;
}
#header{
  height: 46.5px;
  background-color: #000;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.nav{
  position: relative;
}
.nav>ul{
  display: inline-block;
}
.nav>ul>li{
  display:inline-block;
}
.nav a{
  display:block;
  color: #fff;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  text-transform: uppercase;
  line-height:46.5px;
}
.nav__icon{
  padding-left: 5px;
  font-size: 12px;
  font-weight: bolder;
}
.nav li:hover>a{
  background: #ccc;
  color: #000;
  display:block;
  cursor:pointer;
  
}
.nav li:hover>div{
  display:block;
  cursor:pointer;
}

.subnav{
  position: absolute;
  background:#fff;
  box-shadow: 1px 1px 1px #ccc;
  display:none;
  
}
.subnav li{
  display: block;
}
.subnav a{
  display:block;
  text-transform: capitalize;
  color: #000;
  min-width: 160px;
  line-height: 38px;
}
.nav_icon{
  float: right;
}
.nav_icon i{
  color: #fff;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 46.5px;
}
.nav_icon .menu{
  display: none;
}
.nav_icon:hover{
  background-color:#f44336;
}

#slider{
  position: relative;
  margin-top: 46.5px;
  padding-top: 50%;
  background-image: url(/assets/img/slider/slider1.jpg);
  background-size: cover;
}
.slider__text{
  position: absolute;
  bottom: 0px;
  color: #fff;
  padding: 32px 16px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-shadow: 0 0 1px #000;
}

.slider__heading{
  margin: 10px auto;
  font-size: 24px;
  word-spacing: 10px;
}

.slider__content{
  margin: 15px auto;
  font-weight: bolder;
  
}
#theband{
  padding: 64px 16px;
  margin:auto;
  max-width: 800px;
  
}
.content__heading{
  margin: 10px auto;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 400;
  text-align: center;
}

.content__slogan{
  opacity: 0.8;
  font-style: italic;
  text-align: center;
  margin: 15px auto;
}

.content_about{
  text-align: justify;
  margin: 15px auto;
  line-height: 1.4;
}

#band_member{
  padding-top: 32px;
  padding-bottom: 32px;
  display:flex;
  justify-content: space-around;
}
.member{
  width: 32%;
  text-align: center;
}
.member__name{
  margin: 15px auto;
}
.member__image{
  width: 60%;
  border-radius: 10px;
  margin-bottom: 16px;
}

#tourdate{
  background-color:#000;
}
.tour{
  padding: 64px 16px;
  margin:auto;
  max-width: 800px;
}

.tour__form{
  background-color: #fff;
}
.tour__form li{
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
  list-style-type: none;
}
.tour__form .soldout{
  color: #fff;
  background-color:#f44336;
  margin-left: 16px;
  padding-left: 8px;
  padding-right: 8px;
}
.tour__form .quantity{
  color: #fff;
  background-color: #000;
  float:right;
  border-radius: 50%;
  padding-left: 6px;
  padding-right: 6px;
}
.tour__place{
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;

}
.place{
  width: 32%;
}
.place__image img{
 width: 100%;
 display: block;
}

.place__body{
  background-color: #fff;
  padding: 0.15px 16px;
}

.place__location{
  margin: 15px auto;
}

.place__time{
  margin: 15px auto;
  opacity: 0.6 ;
}

.place__desc{
  margin: 15px auto;
}
.buy_tickets{
  margin-bottom: 16px;
  padding: 8px 16px;
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
}
.buy_tickets:hover{
  background:#ccc;
  color: #000;
  cursor: pointer;
}
#contact{
  padding: 64px 16px;
  margin:auto;
  max-width: 800px;
  
}
.contact__body{
  display:flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact__info{
  flex:1;
  margin-bottom: 16px;
}
.contact__form{
  flex:1;
}
.contact__info i{
  display:block;
  font-size: 18px;
  line-height: 27px;

}
.contact__info span{
  padding-left: 10px;
}
.contact__form__name{
  padding: 8px;
  width: 48%;
  margin-bottom: 8px;
}

.contact__form__email{
  padding: 8px;
  width: 48%;
  float: right;
  margin-bottom: 8px;
}

.contact__form__message{
  padding: 8px;
  width: 100%;
  margin-bottom: 8px;
}
.contact_button{
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  margin: 16px auto;
  border:none;
  float: right;
}
.contact_button:hover{
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}
.footer__image{
  filter: grayscale(50%);
  width: 100%;
}
.footer__asocial{
  text-align: center;
  padding: 64px 16px;
}
.footer__icon i{
  font-size: 24px;
}
.footer__help{
  margin: 15px auto;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  z-index:2;
  padding-top:100px;
  animation: modalFadeIn 0.5s ease;
  display: none;
}
.modal__open{
  display:block;
  
}
.modalContainer{
  max-width: 900px;
  background-color: #fff;
  margin-left: auto;
  margin-right:auto;
}
.modalHeader{
  color: #fff;
  background-color: #009688;
  padding: 32px 16px;
  text-align: center;
  
}
.modalHeader i{
  font-size: 30px;
}
.modalHeader span{
  letter-spacing: 3px;
  font-size: 30px;
}
.modalClose{
  float:right;
  padding: 16px 16px;
  font-size: 12px;
  font-weight: bolder;
  line-height: 1.5;
  color: #fff;
}
.modalClose:hover{
  background: #ccc;
  color: #000;
  cursor: pointer;
}
.modalBody{
  
  padding: 0.15px 16px;
}
.modalBody p{
  margin-top: 30px;
  margin-bottom: 10px;
}
.modalBody input{
  padding: 8px;
  width: 100%;
  border: 1px solid rgb(204,204,204)
}
.modalBody button{
  margin: 16px 0px;
  padding: 16px;
  color: #fff;
  display:block;
  width: 100%;
  background-color: #009688;
  border: none;
}
.modalBody  .modal__help{
  text-align: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
@keyframes modalFadeIn {
  from {
    opacity: 0.5;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}